.col-xs-8 {
  background-color: slateblue;
  padding-bottom: 20px;
}
#textarea {
  background-color: white;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
}
#textarea:focus {
  border: solid orange 1px;
}
.btn {
  float: right;
  font-weight: bold;
  margin-top: 15px;
}
