.text_ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
}
table {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table th {
  background-color: slategrey;
  color: white;
  text-align: center;
}
table a:hover {
  text-decoration: none;
}
.btn {
  margin-top: 20px;
  float: right;
  font-weight: bold;
}
