{% extends "base.html" %}
{% block title %}Update Post{% endblock %}
{% block content %}
<h1>Update</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8" id="update">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
        <label for="textarea">내용</label>
        <div id="textarea" contentEditable="true" role="textarea"></div>
        <input type="submit" value="Update" class="btn btn-success btn-xs"/>
    </form>
</div>
{% endblock %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/edit.css" %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static "js/edit.js" %}"></script>
{% endblock %}
