{% extends "base.html" %}
{% block title %}Delete Post{% endblock %}
{% block content %}
<h1>Delete</h1>
<div class="col-xs-3"></div>
<div class="col-xs-6" id="delete">
    <form action="" method="post">{% csrf_token %}
        <strong>해당 게시물을 삭제하시겠습니까?<span style="color:red">"{{ object }}"</span></strong>
        <input type="submit" value="Confirm" class="btn btn-danger btn-xs"/>
    </form>
</div>
{% endblock %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/delete.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">    
{% endblock %}


