{% extends "base.html" %}
{% block title %}{{ object.post_title }}{% endblock %}
{% block content %}
<h1>{{ object.post_title }}</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8" id="detail">
    <dl>
        <dt>주제 항목</dt>
        <dd>{{ object.post_subject }}</dt>
        <dt>내용</dt>
        <dd>{{ object.context }}</dt>
    </dl>
    <blockquote>
        <footer>작성자: {{ object.author }}, {{ object.pub_date }}</footer>
    </blockquote>
    <a href="{% url 'post:update' object.id %}" class="btn btn-default btn-xs active" role="button">Update</a>
    <a href="{% url 'post:delete' object.id %}" class="btn btn-default btn-xs active" role="button">Delete</a>
</div>
{% endblock %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/detail.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="{% static "js/detail.js" %}"></script>
{% endblock %}
