{% extends "base.html" %}
{% block title %}Post List{% endblock %}
{% block content %}
<h1>Post List</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8" id="list">
    <table class="table-striped table-hover">
        <thead>
            <th>id</th>
            <th>subject</th>
            <th>title</th>
            <th>author</th>
            <th>date</th>
        <thead>
        <tbody>
        {% for post in object_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.post_subject }}</td>
                <td><a href="{% url 'post:detail' post.id %}">{{ post.post_title }}</a></td>
                <td>{{ post.author }}</td>
                <td>{{ post.pub_date }}</td>
            </tr>
        {% empty %}
            <td colspan=5>포스트가 없습니다.</td>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'post:create' %}" class="btn btn-primary btn-xs active" role="button">Create Post</a>
</div>
{% endblock %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}">
{% endblock %}
