{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
<h1>Write post</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8" id="create">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
        <label for="textarea">내용</label>
        <div id="textarea" contentEditable="true" role="textarea"></div>
        <input type="submit" value="Save" class="btn btn-success btn-xs"/>
    </form>
</div>
{% endblock %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/edit.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block js%}
<script type="text/javascript" src="{% static "js/edit.js" %}"></script>    
{% endblock  %}
