{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "node_modules/normalize.css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script type="text/javascirpt" src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/react/react-dom.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bower_components/react/react-with-addons.min.js" %}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class=row>
                {% block content %}
                {% endblock %}
            </div>
            {% block newrow %}
            {% endblock %}
        </div>
        {% block style %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>

