{% extends "base.html" %}
{% block title %}Login blog{% endblock %}
{% block content %}
<h1>Login</h1>
<div class="col-xs-4"></div>
<div class="col-xs-4" id="login">
    <form method="post">{% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Login" class="btn btn-success btn-sm">
    </form>
</div>
{% endblock %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/login.css"%}">
{% endblock%}

